html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden;
  background: #f4f4f4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clear {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clear {
  height: 1%; }

.clear {
  display: block; }

/* close commented backslash hack */
/****************************************
BASIC ELEMENTS
*****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

hr {
  clear: both;
  border: none;
  outline: none; }

em {
  font-style: italic; }

a {
  text-decoration: underline; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul, ol {
  font-size: 14px;
  padding: 0 0 0 33px; }
  ul li, ol li {
    margin: 0; }

blockquote {
  padding: 0 15px 0 40px; }

table {
  margin: 20px 0;
  width: 100%;
  font-size: 13px;
  background: white; }
  table th {
    font-weight: bold;
    font-size: 16px; }
  table tr td {
    padding: 7px; }

::selection {
  background: #000;
  color: white; }

::-moz-selection {
  background: #000;
  color: white; }

h1 {
  color: black;
  font-size: 3em;
  margin: 0; }

h2 {
  font-size: 2em;
  color: black;
  margin: 0; }

h3 {
  font-size: 16px;
  margin: 0.67em 0; }

h4 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold; }

p {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 22px;
  margin: 0.8em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*********************
VARIABLES
**********************/
/*Controls Menu top & bottom padding*/
/*Contols Menu left & right padding*/
/*Control Menu Color Scheme*/
/*********************
RESPONSIVE BREAKPOINTS
**********************/
/*********************
NAVIGATION STYLES
**********************/
.header-nav {
  width: 100%; }
  @media (max-width: 715px) {
    .header-nav {
      width: 100%;
      margin: 100px 0 0 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease; } }

.header-nav ul {
  margin: 0 auto;
  width: 100%;
  list-style: none; }
  @media (max-width: 715px) {
    .header-nav ul {
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: 15; } }
  .header-nav ul li {
    float: left;
    position: relative;
    z-index: 1;
    /******************
    SUBNAV
    ******************/ }
    @media (max-width: 715px) {
      .header-nav ul li {
        float: none;
        position: relative;
        margin: 0; } }
    .header-nav ul li a {
      display: block;
      padding: 20px 25px;
      text-align: center;
      padding-top: 70px;
      color: white;
      text-decoration: none;
      transition: all 0.1s ease; }
      .header-nav ul li a:hover {
        color: #ef4b74;
        transition: all 0.2s ease; }
      @media (max-width: 715px) {
        .header-nav ul li a {
          display: table;
          margin: 0;
          padding: 15px 2px;
          color: black;
          border-top: 1px solid rgba(0, 0, 0, 0.15);
          width: 100%;
          background: #4d1ba8; } }
    .header-nav ul li:hover ul {
      opacity: 1;
      max-height: 1000px;
      transition: all 0.3s ease; }
      @media (max-width: 715px) {
        .header-nav ul li:hover ul {
          max-height: 0; } }
    .header-nav ul li ul {
      background: #eb1c50;
      list-style: none;
      padding: 0;
      position: absolute;
      border-radius: 10px;
      width: 150px;
      max-height: 0;
      z-index: 0;
      opacity: 0;
      overflow: hidden;
      font-size: .9em;
      transition: all 0.3s ease; }
      @media (max-width: 715px) {
        .header-nav ul li ul {
          max-height: 0;
          opacity: 1;
          width: 100%;
          position: relative;
          overflow: hidden;
          transition: all 2s ease; } }
      .header-nav ul li ul li {
        float: none;
        margin: 0; }
        @media (max-width: 715px) {
          .header-nav ul li ul li {
            margin: 0; } }
        .header-nav ul li ul li a {
          color: black;
          display: block;
          text-align: left;
          padding: 13.3333333333px 16.6666666667px;
          margin: 0;
          border-right: none;
          border-bottom: 1px solid #bf3b5c;
          border-top: 1px solid #e8154a;
          text-transform: none;
          transition: all 0.2s ease; }
          .header-nav ul li ul li a:hover {
            color: white;
            background: #f16286;
            transition: all 0.5s ease; }
          @media (max-width: 715px) {
            .header-nav ul li ul li a {
              color: black;
              padding-left: 20px;
              background: none; } }

/***************************
MOBILE NAV STYLES
***************************/
.mobile {
  display: none;
  margin: 0;
  padding: 20px 20px;
  background: #eb1c50;
  border-radius: 5px;
  position: absolute;
  color: black;
  text-decoration: none;
  top: 30px;
  right: 0;
  line-height: 0; }
  @media (max-width: 715px) {
    .mobile {
      display: table; } }

.active {
  max-height: 9000px !important;
  transition: all 1s ease; }

@media (max-width: 715px) {
  .arrow {
    display: block;
    background: url(../images/arrow.png) no-repeat;
    float: right;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    transition: all 0.3s ease; }
    .arrow:hover {
      cursor: pointer; }

  .rotate {
    transition: all 0.3s ease;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
header {
  display: inline-flex;
  background: #4d1ba8;
  width: 100%;
  padding: 0 90px; }

.header-float {
  top: 0;
  z-index: 210;
  max-width: 100%;
  width: 100%;
  border-bottom: 0; }

.header-content {
  height: 100px;
  overflow: visible;
  top: 0px;
  width: 100%; }

.logo {
  position: absolute;
  width: 250px;
  display: block;
  float: left;
  padding: 10px;
  max-width: 100%;
  zoom: 1; }

.menu {
  float: right;
  position: relative;
  z-index: 200; }
  @media (max-width: 715px) {
    .menu {
      position: relative;
      width: 100%; } }

.main-content {
  padding: 35px 100px 0 100px; }
  .main-content:after {
    display: table;
    content: ' ';
    clear: both; }
  @media (max-width: 715px) {
    .main-content {
      padding: 0 15px; } }
  .main-content > div:nth-child(1) {
    background: white; }
    @media (min-width: 600px) {
      .main-content > div:nth-child(1) {
        float: left;
        width: 70%;
        padding: 10px 20px;
        border: 1px solid #d2ccda; } }
  @media (min-width: 600px) {
    .main-content > div:nth-child(2) {
      float: right;
      width: 30%; } }
  .main-content > div {
    padding: 0 1.5em 1.5em 1.5em; }

.sidebar-text h4 {
  text-align: center;
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 27px;
  border-bottom: 1px solid black; }
.sidebar-text section {
  padding: 1em 0 1em 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clr {
  clear: both; }

form {
  padding: 1.5em;
  width: 100%;
  border: 1px solid #ef4b74;
  border-radius: 5px; }
  form input {
    font-family: inherit; }
  form label {
    color: #ef4b74; }

input, textarea {
  outline: none; }

input[type='text'] {
  resize: none;
  border-radius: 5px;
  margin: .5em 0 1em;
  padding: 0 1em;
  width: 100%; }

textarea {
  resize: none;
  font-size: 1em;
  height: 8.5em;
  margin: .5em 0 1em;
  padding: 0 1em;
  width: 100%;
  border-radius: 5px; }

input[type='submit'] {
  cursor: pointer;
  float: right;
  background-color: #ef4b74;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  width: 100%; }

input[type='submit']:hover {
  background-color: rgba(239, 75, 116, 0.72); }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.3333333333%; }

.col-2-3 {
  width: 66.6666666667%; }

.col-1-4 {
  width: 25%; }

.col-3-4 {
  width: 75%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-1-6 {
  width: 16.6666666667%; }

.col-5-6 {
  width: 83.3333333333%; }

.col-1-3 {
  display: inline-flex;
  width: 100%;
  padding: 35px 100px;
  line-height: 1.5em; }
  @media (max-width: 715px) {
    .col-1-3 {
      width: 100%;
      display: block;
      padding: 0 1.5em 1.5em 1.5em; } }
  .col-1-3 section {
    text-align: left; }
    @media (max-width: 715px) {
      .col-1-3 section {
        text-align: center;
        padding: 15px 0; } }

.grid-section {
  padding: 0 .7em;
  display: table-cell; }
  @media (max-width: 715px) {
    .grid-section {
      display: block; } }

.grid-grad {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #f4f4f4, #eaeaea, #f4f4f4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f4f4f4, #eaeaea, #f4f4f4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f4f4f4, #eaeaea, #f4f4f4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f4f4f4, #eaeaea, #f4f4f4);
  /* Standard syntax (must be last) */ }

footer {
  display: block;
  padding: 15px 45px 0 45px; }

.footer-nav {
  color: white; }
  .footer-nav ul {
    overflow: hidden;
    margin: 0 auto; }
    @media (max-width: 715px) {
      .footer-nav ul {
        list-style: none;
        padding: 0; } }
    .footer-nav ul li {
      float: left;
      margin: 0 15px;
      font-size: 12px; }
      @media (max-width: 715px) {
        .footer-nav ul li {
          float: none; } }
      .footer-nav ul li a {
        display: block;
        padding: 0 5px;
        text-align: left;
        color: white;
        text-decoration: none;
        transition: all 0.1s ease; }
        @media (max-width: 715px) {
          .footer-nav ul li a {
            text-align: center;
            padding: 0 0 5px 0; } }

#special-link {
  list-style: none;
  padding-left: 0; }

.footer-text {
  font-size: 12px;
  padding: 10px 150px 10px 53px; }
  .footer-text section {
    text-align: left; }
    @media (max-width: 715px) {
      .footer-text section {
        display: none; } }

/****************************************
STRUCTURES
*****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: 'Quantico', sans-serif; }

.wrapper {
  overflow: visible; }

section {
  position: relative;
  text-align: center; }

article {
  position: relative;
  border-top-color: #d2ccda;
  border-bottom-color: #d2ccda; }

.row {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  zoom: 1; }

footer {
  width: 100%;
  background-color: #a4a2a6; }

/*# sourceMappingURL=style.css.map */
